GOOGLE_API_KEY=

GROQ_API_KEY=
GROQ_API_KEY_2=
GROQ_API_KEY_3=
GROQ_API_KEYS=
GROQ_MODEL=llama-3.3-70b-versatile

R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=sppu-pyqs
R2_ENDPOINT_URL=
R2_PUBLIC_BASE_URL=https://sppu-pyqs.albatrossc.workers.dev

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
